<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big data demo</title>
</head>

<body>
    <h2>The page you are finding does not exists.</h2>
    <p>If you are looking for Post management APIs:</p>
    <ul>
        <li>Create post: /PM/api/post/create/</li>
        <li>Retrieve post: /PM/api/post/get/(post_id)/</li>
        <li>Update post: /PM/api/post/update/(post_id)/</li>
        <li>Delete post: /PM/api/post/delete/(post_id)/</li>
    </ul>
    <p>See <a href="https://github.com/AcuPinchure/BigData_Homework">Respository README</a> for more information</p>
</body>

</html>